@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');

html,
body{
  font-family: 'Jomolhari', serif;
}

.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

html,
body{
  margin: 30px;
}

.nav-item {
  padding: 0 20px;
  font-size: 18px;
}

/* SECTION HERO STYLING */
.section-hero {
  padding: 30px 30px;
}

.section-hero > h1 {
  margin: 100px 0;
}

.hero-text-area {
  font-size: 18px;
}

.top-pictures {
  width: 10rem;
  border-style: none;
  margin-bottom: 50px;
}

li {
  list-style: none;
}

.services-text-title{
  font-size: 25px;
}

.services-text-paragraph {
  font-size: 18px;
}

.container-services-menu{
  margin-top: 50px;
}

.add-space-services-menu {
  padding-bottom: 20px;
}

.background-dark {
  padding: 200px 30px;
  margin: 100px 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.dark-background-area-title{
  font-size: 20px;
  padding-right: 150px;
}

.dark-bk-articles {
  border-bottom: 1px solid grey;
  padding: 20px 20px;
  width: 600px;
}

.link-dark-background-area{
  padding-top: 30px;
  color: grey;
}

.section-careers-title{
  font-size: 20px;
}

.section-careers-text{
  font-size: 14px;
}

.row-of-pictures {
  margin: 100px 0;
}